@import url('https://fonts.googleapis.com/css?family=Poppins');

:root {
    --screens-padding: 16px;
    --dark-aqua-color: rgb(47, 190, 190);
    --light-lime-color: rgb(163, 218, 127);
    --inactive-grey-color: rgb(206, 206, 206);
    --divider-color: rgb(235, 235, 235);
    --box-shadow-color: #d3d3d3;
}

body{
    font-family: 'Poppins', sans-serif;

    width: 100%;
    margin: 0;
    padding: 0;

    user-select: none;

    background-color: rgb(240, 240, 240);
}

#body-grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25vh auto;
    height: 100%;
    padding-bottom: 64px;
}

#sections-container{
    position: relative;
    display: grid;
    grid-template-columns: 100% 100%;
    grid-template-rows: 1fr;
    overflow: hidden;
    left: 0;

    transition: left 0.5s ease;
}

.body-grid-element{
    display: grid;
}

/* Body Section */

section{
    display: grid;

    background-color: rgb(240, 240, 240);
}

#spend-screen{    
    grid-template-rows: 32vh auto;    
}

#save-screen{    
    grid-template-rows: 64px 64px auto;    
}

section > div > div > div{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

hr{
    width: 100%;
    border: 0;
    border-top: 1px solid #dfdfdf;
}

/* Bottom Navbar Section */

/* Ripple effect */
.ripple-effect{
    position: relative;
    overflow: hidden;
}

span.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    background-color: rgba(255, 255, 255, 0.75);
}
  
@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}

/**/
#month-banner{
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    width: 100%;
    height: 64px;
}